<div id="rsvp-reply-form">
<ul class="pagination">
    {{ range $i, $g := .Invitation.Guests }}
        {{ if eq $i 0 }}
            <li class="active"><a id="guest-{{ $i }}" href="guestBox{{$i}}">Guest {{sum $i 1}}</a></li>
        {{ else }}
            <li><a id="guest-{{ $i }}" href="guestBox{{$i}}">Guest {{sum $i 1}}</a></li>
        {{ end }}
    {{ end }}
</ul>
<form name="rsvp-reply" method="post" action="/rsvp/reply/" class="af-form" id="rsvp-reply">
    <div class="col-lg-4 col-lg-offset-4">
        <input type="hidden" name="Invitation.ID" value="{{.Invitation.ID}}" />
        <input type="hidden" name="HMAC.Hash" value="{{.HMAC.Hash}}" />
        <input type="hidden" name="HMAC.Stamp" value="{{.HMAC.Stamp}}" />
        
        {{ range $i, $g := .Invitation.Guests }}
            {{ if eq $i 0 }}
                <div id="guestBox{{$i}}">
                    <div class="form-group">
                        <input type="text" name="Invitation.Guests.{{$i}}.First" id="gFirst{{$i}}" size="30" value="{{fullName $g.First $g.Last}}" placeholder="Name" class="text-input form-control" readonly="true" />
                    </div>

                    <div class="form-group">
                        <select id="gAttending{{$i}}" class="form-control" name="Invitation.Guests.{{$i}}.IsAttending">
                            <option value="-1">Will celebrate?</option>
                            <option value="1">Celebrate in Person</option>
                            <option value="0">Celebrate in Spirit</option>
                        </select>
                        <label id="error-attending{{$i}}" for="Invitation.Guests.{{$i}}.IsAttending" class="error">Please select an attendance option.</label>
                    </div>

                    <div id="foodBox{{$i}}" class="form-group" style="display:none">
                        <select id="gFood{{$i}}" class="form-control" name="Invitation.Guests.{{$i}}.Food">
                            <option value="-1">Dinner selection?</option>
                            <option value="beef">Dinner is Beef</option>
                            <option value="fish">Dinner is Fish</option>
                            <option value="veggie">Dinner is Vegetarian</option>
                        </select>
                        <label id="error-food{{$i}}" for="Invitation.Guests.{{$i}}.Food" class="error">Please select your dinner choice.</label>
                    </div>
                </div>
            {{ else }}
                <div id="guestBox{{$i}}" style="display:none">
                    <div class="form-group">
                        <input type="text" name="Invitation.Guests.{{$i}}.First" id="gFirst{{$i}}" size="30" value="{{fullName $g.First $g.Last}}" placeholder="Name" class="text-input form-control" />
                        <label class="error" for="Invitation.Guests.{{$i}}.First" id="error-gFirst{{$i}}">Please provide the first and last name.</label>
                    </div>

                    <div class="form-group">
                        <select id="gAttending{{$i}}" class="form-control" name="Invitation.Guests.{{$i}}.IsAttending">
                            <option value="-1">Will celebrate?</option>
                            <option value="1">Celebrate in Person</option>
                            <option value="0">Celebrate in Spirit</option>
                        </select>
                        <label id="error-attending{{$i}}" for="Invitation.Guests.{{$i}}.IsAttending" class="error">Please select an attendance option.</label>
                    </div>

                    <div id="foodBox{{$i}}" class="form-group" style="display:none">
                        <select id="gFood{{$i}}" class="form-control" name="Invitation.Guests.{{$i}}.Food">
                            <option value="-1">Dinner selection?</option>
                            <option value="beef">Dinner is Beef</option>
                            <option value="fish">Dinner is Fish</option>
                            <option value="veggie">Dinner is Vegetarian</option>
                        </select>
                        <label id="error-food{{$i}}" for="Invitation.Guests.{{$i}}.Food" class="error">Please select your dinner choice.</label>
                    </div>
                </div>
            {{ end }}
        {{ end }}

        <div class="form-group">
            <input type="text" name="Invitation.ConfirmAddr.Address" id="email" size="30" value="" placeholder="Confirmation Email" class="text-input form-control" />
        </div>
          
        <div class="form-group af-outer af-required">
            <input type="submit" name="submit" class="form-button btn btn-primary form-control" id="reply-submit-btn" value="RSVP" />
        </div>
    </div>
</form>
</div>