Abracadabra!!! Um,...where did it go? My work here is done.<br />
<br />
Hello my name is David and I'm a technical wizard. I tour the bay area<br />
making things disappear and inducing panic. My latest stop was over at<br />
<a href="https://www.duonganddave.com" target="_blank">duonganddave.com</a>. Good times! The bit of data remaining after I worked<br />
my magic indicates that you RSVPed before I stopped by to wow them with<br />
my skills. Now that the show is over and the data can't be found they<br />
would love it if you could swing-by and RSVP again. I promise not to<br />
perform an encore.<br />
<br />
<a href="https://www.duonganddave.com/wedding#rsvp" target="_blank">https://www.duonganddave.com/wedding#rsvp</a><br />
<br />
Duong and the &quot;other&quot; David apologize for the hassle and thank<br />
you for RSVPing a second time.<br />
<br />
Cheers.<br />
