<p>Abracadabra!!! Um,...where did it go? My work here is done.</p>

<p>Hello my name is David and I'm a technical wizard. I tour the bay area
making things disappear and inducing panic. My latest stop was over at
<a href="https://www.duonganddave.com" target="_blank">duonganddave.com</a>. Good times! The bit of data remaining after I worked
my magic indicates that you RSVPed before I stopped by to wow them with
my skills. Now that the show is over and the data can't be found they
would love it if you could swing-by and RSVP again. I promise not to
perform an encore.</p>

<p><a href="https://www.duonganddave.com/wedding#rsvp" target="_blank">https://www.duonganddave.com/wedding#rsvp</a></p>

<p>Duong and the &quot;other&quot; David apologize for the hassle and thank
you for RSVPing a second time.</p>

Cheers.
